<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981008923201-56fmtdtl6d1llckbf09tsgjnsocdvi91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981008923201-56fmtdtl6d1llckbf09tsgjnsocdvi91</string>
	<key>API_KEY</key>
	<string>AIzaSyC9qf5RhHCXDi5vBkY9pfuTcaxcycYBGTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>981008923201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aj.QuoteApp-UpWork</string>
	<key>PROJECT_ID</key>
	<string>quoteapp-1aba8</string>
	<key>STORAGE_BUCKET</key>
	<string>quoteapp-1aba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981008923201:ios:c6d8ef31f6d7586615e4c0</string>
</dict>
</plist>